<!DOCTYPE html>
<html>
    <head>
        <title>Soul's blog</title>
    </head>
    <body>
        <h1>Soul's soul</h1>
        <h2> Her (supposed) thoughts</h2>
        <em><p> She loves to think and write about particular things covering ideas from the universe.</p></em>
        <p>If you want to read this blog while listening
            some nice music you can follow this <a href="https://www.youtube.com/watch?v=ebySCofQeRs">link</a>
        </p>
        <div>We do our first Section about music
            <ul>
                <li>
                    Rigoberta Bandini - 'Mama'
                </li>
                <li>
                    Dua lipa - 'Physicall'
                </li>
            </ul>
        </div>
        <footer>
            You should love yourself as a baby loves the breast of its mom.
        </footer>
    </body>
</html>